<!DOCTYPE html>
<html lang="en">
<div  ng-app="jukeModule">
  <head>
    <title>Juke</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/bootstrap-dark.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
  </head>
  
  <body>

    <div id="main" class="container-fluid">

      <div class="col-xs-2">
        <sidebar>
          <img src="juke.svg" class="logo">
          <section>
            <h4 class="menu-item active">
              <a href="/templates/albums.html">ALBUMS</a>
            </h4>
            <!-- <h5 ng-controller="testController">{{name}}</h5> -->
          </section>
        </sidebar>
      </div>

      <div class="col-xs-10" ng-controller="fakeAlbumController">
        <div class="album">
          <p>
            <h3>{{album.name}}</h3>
            <img src='./api/songs/2/image'>
          </p>
          <table class='table'>
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Artists</th>
                <th>Genre</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="song in album.songs" ng-class="class" ng-controller="activeController">
                <td>
                  <button class="btn btn-default btn-xs">
                    <span 
                    class="glyphicon glyphicon-play" 
                    ng-class="{ 'glyphicon-play': !playing, 'glyphicon-pause': playing }" 
                    ng-click="start(song); changeClass()"></span>
                  </button>
                </td>
                <td>{{song.name}}</td>

                <td>{{song.artists[0].name}}</td>

                <td>{{song.genre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <footer>
        <div>
          <div class="pull-left">
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-pause"></span>
            </button>
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-step-forward"></span>
            </button>
          </div>
          <div class="bar">
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
            </div>
        </div>
      </footer>

    
    </div>
    <script src="/angular/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./controllers/albums.ctrl.js"></script>
  </body>
  </div>
</html>
